<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="multi_robot_name" default="tb0"/>

  <param name="model" value="$(arg model)"/>
  <param name="multi_robot_name" value="$(arg multi_robot_name)"/>

  <!-- turtlebot3_teleop_key already has its own built in velocity smoother -->
  <node pkg="turtlebot3_custom_teleop" type="turtlebot3_named_teleop_key.py" name="turtlebot3_named_teleop_key_$(arg multi_robot_name)"  output="screen">
  </node>
</launch>
